/* Common CSS for all of Autocento at the breakfast table
 * should include ONLY the following:
 * margins & widths
 * text sizes & font assignments
 * link rendering
 * vim: fdm=marker
 */
/* Import rules {{{ */
@import url("fonts/playfair.css");
@import url("fonts/fira.css");
/* @import url("fonts/courier-prime.css");
 * ^^^^^^ for typewriter pages in Paul */
/* }}} */
/* Body & Links {{{ */
html, body {
    font-family: Fira, sans-serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper { /*makes sure nav is at bottom of window*/
    min-height: 100%;
    position: relative;
}
.thing {
    max-width: 39em;
    margin: auto;
    padding-bottom: 3em; /*height of nav*/
}
/* Tables */
table { border-collapse: collapse; }
td {
    vertical-align: top;
}
tr {
    border-bottom: 1px solid #aaa;
}
/* Links */
a:link {
    color: inherit;
    text-decoration: underline;
}
a:visited {
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
/* }}} */
/* Header section {{{ */
header {
    max-width: 39em;
    margin: auto;
}
/* headings */
h1.title {
    font-family: Playfair, serif;
    font-size: 16pt;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
h1.subtitle {
    font-family: Playfair, serif;
    font-size: 15pt;
    font-style: italic;
    position: relative;
    top: -0.5em;
}
h2 {
    font-family: Fira, sans-serif;
    font-size: 14pt;
    font-weight: 600;
}
/* Epigraph & Dedication */
.dedication {
    font-style: italic;
    font-size: 10pt;
    margin-top: -0.5em;
    margin-bottom: 1em;
}
.dedication:before {
    content: 'for ';
    font-style: italic;
}

.epigraph {
    text-align: right;
    font-size: 10pt;
    font-style: italic;
}
.epigraph p {
    margin: 0;
}
.epigraph-attrib {
    text-align: right;
    margin-top: 0;
    font-size: 10pt;
    font-style: italic;
}
.epigraph-attrib:before {
    content: '– ';
}
/* }}} */
/* Navigation {{{ */
nav {
    width: 100%;
    height: 3em;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
nav .prevlink:before {
    content: '« '
}
nav .nextlink:after {
    content: ' »'
}
/* }}} */
