/* Common CSS for all of Autocento at the breakfast table
 * vim: fdm=marker
 */
/* IMPORTS {{{ */
/* Playfair Display (headings) */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic&subset=latin,latin-ext);
/* Fira Sans (body) */
@import url(http://code.cdn.mozilla.net/fonts/fira.css);
/* @import url("fonts/courier-prime.css");
 * ^^^^^^ for typewriter pages in Paul */
/* imports }}} */
/* LAYOUT {{{ */
html, body {
    margin: 0;
    padding: 0;

    font-family: "Fira Sans", sans-serif;
    font-size: 12pt;
}
html { height: 100%; }
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    padding-left: 12px;
    padding-right: 12px;
}
header {
    max-width: 39em;
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
}
.title {
    text-align: left;
    display: inline-block;
}
.subtitle {
    text-align: center;
    display: block;
}
.dedication {
    text-align: right;
}
#container {
    /* max-width: 39em; */
    margin: 0 auto;
    padding-bottom: 30px;
}
nav {
    height: 24px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.footnotes {
    width: 80%;
    position: absolute;
    top: 100%;
    left: 10%;
    font-size: 10pt;
}
/* layout }}} */
/* LINKS {{{ */
a:link {
    color: inherit;
    text-decoration: underline;
}
a:visited {
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
/* External Links */
a[href^="http"]:link {
    text-decoration: none;
}
a[href^="http"]:visited {
}
a[href^="http"]:hover {
    text-decoration: underline;
}
a[href^="http"]:active {
    text-decoration: underline;
}
/* links }}} */
/* IMAGES {{{ */
.ekphrastic {
    max-width: 39em;
    margin: auto;
    text-align: center;
}
img {
    max-width: 100%;
    margin: auto;
}
/* images }}} */
/* HEADINGS {{{ */
.title {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 16pt;
    /* font-weight: bold; */
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.subtitle {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 15pt;
    font-style: italic;
    font-weight: 400;
    position: relative;
    top: -0.5em;
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 12pt;
    font-weight: 600;
}
/* headings }}} */
/* DEDICATION {{{ */
.dedication {
    font-style: italic;
    font-size: 10pt;
    margin-top: 1em;
    margin-bottom: 1em;
}
.dedication::before {
    content: 'for ';
    font-style: italic;
}
/* dedication }}} */
/* EPIGRAPH {{{ */
.epigraph {
    text-align: right;
    font-size: 10pt;
    font-style: italic;
}
.epigraph p {
    margin: 0;
}
.epigraph .attrib {
    text-align: right;
    margin-top: 0;
    font-size: 10pt;
    font-style: italic;
}
.epigraph .attrib::before {
    content: '– ';
}
/* epigraph }}} */
/* NAV {{{ */
nav .prevlink { float: left; text-align: left; }
nav .nextlink { float: right; text-align: right; }
/* Properties both types of navlinks share */
nav .prevlink, nav .nextlink {
    margin: 0 0.5em;
    width: 20%;
    display: block;
    font-size: 10pt;
    font-family: "Playfair Display", Georgia, serif;
    font-style: italic;
    text-transform: lowercase;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}
nav .prevlink::before {
    content: ' «';
    font-style: normal;
}
nav .nextlink::after {
    content: ' »';
    font-style: normal;
}
#lozenge {
    position: absolute;
    left: 50%;
    text-decoration: none;
}
/* nav }}} */
/* FOOTNOTES {{{ */
.footnotes p::first-line {
    font-variant: normal !important;
}
.footnotes a[href^="#fnref"] {
    float: right;
}
/* footnotes }}} */
