/* Common CSS for all of Autocento at the breakfast table
 * vim: fdm=marker
 */
/* IMPORTS {{{ */
/* Playfair Display (headings) */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic&subset=latin,latin-ext);
/* Linux Libertine (body) */
@import url("fonts/libertine.css");
/* @import url("fonts/courier-prime.css");
 * ^^^^^^ for typewriter pages in Paul */
/* imports }}} */
/* LAYOUT {{{ */
html, body {
    margin: 0;
    padding: 0;

    font-family: "Libertine", serif;
    font-size: 100%; /* = 12pt = 16px */
}
html { height: 100%; }
body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}
header {
    max-width: 39em;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1em 0;
    margin-bottom: 1em;
}
.title {
    text-align: left;
    display: inline-block;
}
.subtitle {
    text-align: center;
    display: block;
}
.dedication {
    text-align: left;
}
#container {
    /* max-width: 39em; */
    margin: 0 auto;
    padding-bottom: 30px;
}
.content p:first-child {
    margin-top: 0
}
.content {
    line-height: 1.3em;
}
nav {
    height: 24px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.footnotes {
    font-size: 0.85em;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
}
.footnotes li {
    margin-right: 2em;
    border-bottom: 1px solid gray;
    max-width: 45em;
    margin: auto;
}
.footnotes li:last-child {
    border-bottom: none;
}
/* layout }}} */
/* HEADINGS {{{ */
.title {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 1.5em;
    /* font-weight: bold; */
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0;
}
.subtitle {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 1.25em;
    font-style: italic;
    font-weight: 400;
    /* position: relative; */
    /* top: -0.5em; */
    margin-top: 0;
    margin-bottom: 0;
}
h2 {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 1em;
    font-weight: 600;
}
header {
    position: relative;
}
/* headings }}} */
/* LINKS {{{ */
a:link {
    padding-top: 1px;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted #a1a3a1;
}
a:visited {
    color: inherit;
}
a:hover {
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
}
a:active {
    /* text-decoration: underline; */
    border-bottom: 1px solid black;
}
/* External Links */
a[href^="http"]:link {
    text-decoration: none;
    border-bottom: 1px dotted #a1a3a1;
}
a[href^="http"]:visited {
}
a[href^="http"]:hover {
    border-bottom: 1px dashed black;
}
a[href^="http"]:active {
    border-bottom: 1px dashed black;
}
/* links }}} */
/* IMAGES {{{ */
.ekphrastic {
    max-width: 41em;
    /* margin-top: -1em; */
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.ekphrastic a:link { border: none; }
img {
    max-width: 100%;
    margin: auto;
}
/* images }}} */
/* HEADER-EXTRA {{{ */
.header-extra {
    text-align: right;
}
.dedication,.epigraph {
    vertical-align: bottom;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    width: 45%;
}
/* DEDICATION {{{ */
.dedication {
    font-style: italic;
    font-size: 0.92em;
    margin-top: 1em;
}
.dedication::before {
    content: 'for ';
    font-style: italic;
}
.dedication:only-child {
    text-align: right;
}
/* dedication }}} */
/* EPIGRAPH {{{ */
.epigraph {
    text-align: right;
    font-size: 0.92em;
    font-style: italic;
    margin-top: 1em;
}
.epigraph p {
    margin: 0;
}
.epigraph .attrib {
    text-align: right;
    margin-top: 0;
    font-size: 0.92em;
    font-style: normal;
}
.epigraph .attrib::before {
    content: '– ';
}
/* epigraph }}} */
/* header-extra }}} */
/* NAV {{{ */
nav a:link { border-bottom: none; }
nav a:active { border: none; }
nav .prevlink { float: left; text-align: left; }
nav .nextlink { float: right; text-align: right; }
/* Properties both types of navlinks share */
nav .prevlink, nav .nextlink {
    margin: 0 0.5em;
    width: 20%;
    display: block;
    font-size: 0.85em;
    font-family: "Playfair Display", Georgia, serif;
    font-style: italic;
    text-transform: lowercase;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    position: relative;
}
nav .prevlink::before {
    content: ' «';
    font-style: normal;
}
nav .nextlink::after {
    content: ' »';
    font-style: normal;
}
#lozenge {
    position: absolute;
    left: 50%;
    text-decoration: none;
}
/* nav }}} */
/* FOOTNOTES {{{ */
.footnotes p::first-line {
    font-variant: normal !important;
}
.footnotes a[href^="#fnref"] {
    float: right;
}
a.footnoteRef {
    border: none;
}
/* footnotes }}} */
