/* BUILDINGS OUT OF AIR: PAUL IN THE WOODS
 * project stylesheet
 */

/* Playfair Display (headings) */
@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic&subset=latin,latin-ext);
/* Fira Sans (body) */
@import url(http://code.cdn.mozilla.net/fonts/fira.css);

/* Blockquote = typewriter */
blockquote {
    font-family: "Courier Prime", "Courier New", Courier, monospace;
    font-size: 10pt;
    border: 1px solid black;
    max-width: 30em;
    margin: auto;
    padding: 0 1em;
    text-align: left;
}
blockquote p::first-line {
    font-variant: normal !important;
}
blockquote ul {
    list-style-type: none;
}
blockquote ul li:before {
    content: '- ';
}

/* Emphasis = handwritten */
em {
    font-family: "Playfair Display", Georgia, sans-serif;
    font-style: italic;
}
