/* PROSE css for Autocento.
 * for PROSE considerations ONLY, e.g.:
 * line-height
 * hyphenation
 * etc.
 */

.prose {
    text-align: justify;
    max-width: 39em;
    margin: auto;
    hyphens: auto;
    -moz-hyphens: auto;
}
.prose p::first-child::first-line {
    font-variant: small-caps;
    letter-spacing: 0.1em;
}
