/* VERSE css for Autocento.
 * for VERSE considerations ONLY, e.g.:
 * line breaks
 * how to continue lines
 * etc.
 */

#container {
    text-align: center;
}

.verse {
    display: inline-block;
    text-align: left;
}
