/* FIRA FONT for Autocento project.
 * ONLY PUT @font-face RULES HERE.
 */

/* Hair = 100 */
@font-face {
    font-family: Fira;
    font-weight: 100;
    font-style: normal;
    src: url(FiraSans-Hair.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 100;
    font-style: italic;
    src: url(FiraSans-HairItalic.otf);
}
/* Ultralight = 200 */
@font-face {
    font-family: Fira;
    font-weight: 200;
    font-style: normal;
    src: url(FiraSans-UltraLight.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 200;
    font-style: italic;
    src: url(FiraSans-UltraLightItalic.otf);
}
/* Light = 300 */
@font-face {
    font-family: Fira;
    font-weight: 300;
    font-style: normal;
    src: url(FiraSans-Light.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 300;
    font-style: italic;
    src: url(FiraSans-LightItalic.otf);
}
/* Regular = 400 */
@font-face {
    font-family: Fira;
    font-weight: 400;
    font-style: normal;
    src: url(FiraSans-Regular.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 400;
    font-style: italic;
    src: url(FiraSans-Italic.otf);
}
/* Medium = 500 */
@font-face {
    font-family: Fira;
    font-weight: 500;
    font-style: normal;
    src: url(FiraSans-Medium.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 500;
    font-style: italic;
    src: url(FiraSans-MediumItalic.otf);
}
/* Semibold = 600 */
@font-face {
    font-family: Fira;
    font-weight: 600;
    font-style: normal;
    src: url(FiraSans-SemiBold.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 600;
    font-style: italic;
    src: url(FiraSans-SemiBoldItalic.otf);
}
/* Bold = 700 */
@font-face {
    font-family: Fira;
    font-weight: 700;
    font-style: normal;
    src: url(FiraSans-Bold.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 700;
    font-style: italic;
    src: url(FiraSans-BoldItalic.otf);
}
/* Bold = 800 */
@font-face {
    font-family: Fira;
    font-weight: 800;
    font-style: normal;
    src: url(FiraSans-ExtraBold.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 800;
    font-style: italic;
    src: url(FiraSans-ExtraBoldItalic.otf);
}
/* Heavy = 900 */
@font-face {
    font-family: Fira;
    font-weight: 900;
    font-style: normal;
    src: url(FiraSans-Heavy.otf);
}
@font-face {
    font-family: Fira;
    font-weight: 900;
    font-style: italic;
    src: url(FiraSans-HeavyItalic.otf);
}
