/* PLAYFAIR DISPLAY FONT for Autocento project.
 * ONLY PUT @font-face RULES HERE.
 * vim: fdm=marker
 */
/* NORMAL VARIANT {{{ */
/* Regular = 400 */
@font-face {
    font-family: Playfair;
    font-variant: normal;
    font-weight: 400;
    font-style: normal;
    src: url("PlayfairDisplay-Regular.ttf");
}
@font-face {
    font-family: Playfair;
    font-variant: normal;
    font-weight: 400;
    font-style: italic;
    src: url("PlayfairDisplay-Italic.ttf");
}
/* Bold = 700 */
@font-face {
    font-family: Playfair;
    font-variant: normal;
    font-weight: 700;
    font-style: normal;
    src: url("PlayfairDisplay-Bold.ttf");
}
@font-face {
    font-family: Playfair;
    font-variant: normal;
    font-weight: 700;
    font-style: italic;
    src: url("PlayfairDisplay-BoldItalic.ttf");
}
/* Black = 900 */
@font-face {
    font-family: Playfair;
    font-variant: normal;
    font-weight: 900;
    font-style: normal;
    src: url("PlayfairDisplay-Black.ttf");
}
@font-face {
    font-family: Playfair;
    font-variant: normal;
    font-weight: 900;
    font-style: italic;
    src: url("PlayfairDisplay-BlackItalic.ttf");
}
/* }}} */
/* SMALL CAPS VARIANT {{{ */
/* Regular = 400 */
@font-face {
    font-family: PlayfairSC;
    font-variant: small-caps;
    font-weight: 400;
    font-style: normal;
    src: url("PlayfairDisplaySC-Regular.ttf");
}
@font-face {
    font-family: PlayfairSC;
    font-variant: small-caps;
    font-weight: 400;
    font-style: italic;
    src: url("PlayfairDisplaySC-Italic.ttf");
}
/* Bold = 700 */
@font-face {
    font-family: PlayfairSC;
    font-variant: small-caps;
    font-weight: 700;
    font-style: normal;
    src: url("PlayfairDisplaySC-Bold.ttf");
}
@font-face {
    font-family: PlayfairSC;
    font-variant: small-caps;
    font-weight: 700;
    font-style: italic;
    src: url("PlayfairDisplaySC-BoldItalic.ttf");
}
/* Black = 900 */
@font-face {
    font-family: PlayfairSC;
    font-variant: small-caps;
    font-weight: 900;
    font-style: normal;
    src: url("PlayfairDisplaySC-Black.ttf");
}
@font-face {
    font-family: PlayfairSC;
    font-variant: small-caps;
    font-weight: 900;
    font-style: italic;
    src: url("PlayfairDisplaySC-BlackItalic.ttf");
}
/* }}} */
